body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f2e7c3; 
    color: #4e342e; 
}

header {
    background-color: #795548; 
    color: #ffeb3b; 
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

header h1 {
    margin: 0;
    font-size: 2.5rem; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #d32f2f; 
    border-radius: 8px; 
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

nav ul li a:hover {
    background-color: #ffeb3b; 
    color: #4e342e; 
    transform: scale(1.05); 
}

.banner {
    position: relative;
    max-width: 100%;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
}

.imagen-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.imagen-banner:hover {
    transform: scale(1.05); 
}

.banner-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    background-color: rgba(117, 117, 117, 0.7); 
    opacity: 0.9; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

.banner-texto h2 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner-texto p {
    font-size: 1.2rem;
}

section {
    padding: 50px;
    background-image: url('imagenes/Fondo.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}
#contacto h2{
    text-align: center;
}


.imagen-principal {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.imagen-menu {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

video, audio {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

#audio-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


#audio {
    width: 100%;
    max-width: 400px; 
    border: 2px solid #ff6600; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}
form {
    display: grid;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #a1887f; 
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}

form input[type="submit"] {
    background-color: #ffeb3b; 
    color: #4e342e; 
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #d32f2f; 
    transform: scale(1.05); 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #795548; 
    color: #ffeb3b; 
    margin-top: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); 
}




